{% extends 'base_admin.html.twig' %}

{% block body %}

		<div class="left-margin-admin">
			{{ form_start(formCreneau) }} 

				<h2>Ajouter un Creneau</h2>

					{{ form_row(formCreneau.horaire, {'attr' : {'class': 'input-group '}}) }}
					{{ form_row(formCreneau.nb_place, {'attr' : {'class': 'form-control mb-2'}}) }}
					
				    {{ form_row(formCreneau.submit, {'attr' : {'class': 'btn btn-lg btn-primary'}}) }}

			{{ form_end(formCreneau) }}
		</div>

{% endblock %}