{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

	<div class="side-margin">
		{{ form_start(formContact) }}

		<h2>Contactez-nous</h2>

			{{ form_row(formContact.email) }}
			{{ form_row(formContact.subject) }}
			{{ form_row(formContact.message) }}

			{{ form_row(formContact.submit, {'attr' : {'class': 'btn btn-lg btn-primary'}}) }}

		{{ form_end(formContact) }}
	</div>

		<div class="footer-margin"></div>


{% endblock %}
