{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}

{% block body %}
    <h1>Modifiez votre mot de passe</h1>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4"> 
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(formPassword) }}

        {{ form_row(formPassword.plainPassword) }}
        {{ form_row(formPassword.newPassword) }}

        <button type="submit" class="btn btn-lg btn-primary">Register</button>

    {{ form_end(formPassword) }}
{% endblock %}